body {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1rem;
}

.top {
    background-color: rgb(9, 26, 67);
    color: #e9e9e9;
}

h1 {
    padding: 5%;
}

#main {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.category {
    /* border: 1px solid black; */
    margin: 2%;
    /* display: flex; */
}

.category-name {
    font-weight: 700;
    font-size: 1.25rem;
    width: 100%;
}

.category-description {
    font-size: .75rem;
    font-weight: 500;
}

.category-button {
    background-color: rgb(9, 26, 67);
    color: white;
    border: none;
    margin: 10px;
}

.active-button {
    background-color: aqua;
}